<footer id="about">
  <div class="text">
      <h2>OUR MISSION</h2>
      <div><i class="fas fa-asterisk"></i></div>
      <p> ACME cleaning services has one clear mission: To provide solutions designed to solve the mild to heavy dirt management problems that individuals, families and corporate organizations face daily, efficiently.</p>
  </div>
  <div class="contact-container">
    <div class="social-media">
        <h3>Social Media</h3>
        <div class="links">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/acme_cleanup/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/2347062904039" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
  <a href="#maintop"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-up arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/><path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg></a>

  <ul class="info">
      <li>Plot 263 Etim Inyang Cresent, Victoria Island, Lagos</li>
      <li>Tel: +234 (0)7062904039</li>
  </ul>
  <ul class="CTA">
  <li><a href="#">CONTACT OUR TEAM</a></li>
      <li><a href="#">&copy; copyrights ACME 2022</a></li>
  </ul>
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
<script src="/scripts/cdnjs/sweetalert2.all.min.js"></script>
<script src="/scripts/scripts.js"></script>
<script>
  function handleTokenQueryParam() {
    //need login and signup fe urls
    //fe need to handle removal of query parameters
    const queryParams = new URLSearchParams(window.location.search);
    if (queryParams.has('code')) {
        // Get the value of the token query parameter
        const code = queryParams.get('code');
        fetch('http://localhost:8080/api/v1/auth/google/register', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({code})
        })
        .then(res => {
            return res.json();
        })
        .then(resData => {
            const newUrl = window.location.origin + window.location.pathname;
            history.replaceState(null, '', newUrl);
            if(resData.error){
                throw resData;
            }
            console.log(resData);
        })
        .catch(err => {
            console.log(err)
        });
    }
}
window.addEventListener('DOMContentLoaded', handleTokenQueryParam);
</script>

</body>
</html>