<%- include('includes/head.ejs') %>

    <div id="maintop" class="error-block">
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_6nmazhqu.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop autoplay></lottie-player>
    </div>

<%- include('includes/foot.ejs') %>