<%- include('../includes/head.ejs') %>

    <section id="maintop" class="home">
        <div class="home-content">
            <h1>QUALITY CLEAN</h1><br>
            <h4>GET READY TO BE OPENED</h4>
        </div>
        
        <svg class="svg-down" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="currentColor" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
               
        <div id="downarrow" class="arrow bounce">
          <a href="#downarrow" style="color:#000;"><svg width="3rem" height="3rem" viewBox="0 0 16 16" class="arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
          </svg></a>
        </div>
    </section>

    <div id="acme" class="content-blocks">
      <section class="content-block">
        <div class="content-block__item content-block__media about-content">
          <div>
            <h1>OUR STORY</h1>
            <p>ACME Cleaning Services, a full cleaning service and maintenance company. Since it's inception we have grown a considerably large work force servicing many of homes and well-known companies and organizations.</p>
            <p>We have quickly built a reputation as a leading provider of commercial and residential cleaning solution in the industry.</p>
            <p class="short-cut"><a href="/contact">CONTACT US</a></p>
          </div>
        </div>
        <div class="content-block__item content-block__content about-content-block__content">
          <img src="/images/find-a-cleaner.png" style="width: 100%; height: auto; ">
        </div>
    </section>
      
    <section class="content-block desk-block">
        <div class="content-block__item content-block__media  choose-content-block__content">
          <img src="/images/black-man-holding-sponges-detergents-washing-gloves-cleaning-products-cheerful-african-american-guy-cleaner-lots-ready-130554041.jpg" style="width: 100%; height: auto; " height="500" width="1000">
        </div>
        <div class="content-block__item content-block__content about-content">
          <div>
            <h1 class="spec-h1">WHY CHOOSE US?</h1>
            <p>We're offering professional cleaning services that uses a combination of Eco-friendly reagents and right equipment to clean up your environments, offices or houses. Adding value to our customers lives by making their offices and homes environment as clinically clean and conducive as possible.</p>
            <p>We employ modern methods, using proven equipment and materials together with well-trained personnel to deliver the utmost in cleaning services.</p>
            <p class="short-cut"><a href="/services">OUR SERVICES</a></p>
          </div>
        </div>
    </section>
    
    <section class="content-block mob-block">
      <div class="content-block__item content-block__content about-content">
        <div>
          <h1 class="spec-h1">WHY CHOOSE US?</h1>
          <p>We're offering professional cleaning services that uses a combination of Eco-friendly reagents and right equipment to clean up your environments, offices or houses. Adding value to our customers lives by making their offices and homes environment as clinically clean and conducive as possible.</p>
          <p>We employ modern methods, using proven equipment and materials together with well-trained personnel to deliver the utmost in cleaning services.</p>
          <p class="short-cut"><a href="/services">OUR SERVICES</a></p>
        </div>
      </div>
      <div class="content-block__item content-block__media  choose-content-block__content">
        <img src="/images/black-man-holding-sponges-detergents-washing-gloves-cleaning-products-cheerful-african-american-guy-cleaner-lots-ready-130554041.jpg" style="width: 100%; height: auto; " height="500" width="1000">
      </div>
    </section>

    <section class="content-block">
        <div class="content-block__item content-block__media about-content spec-block">
          <div>
            <h1 class="spec-h1">BOOK US</h1>
            <p>Our professional cleaners would clean your houses, offices e.t.c per your specifications. We are the best at what we do and do not just dust and surface clean, we also scrub and sanitizes your homes.</p>
            <p>We take the time to do a complete walk-through of your home with you when we arrive to ascertain what your cleaning priorities are. Customers continue to patronize us because of our impeccable reputation, and solid work ethic.</p>
            <p class="short-cut"><a href="/book">BOOK SESSION</a></p>
          </div>
        </div>
        <div class="content-block__item content-block__content book-content-block__content">
          <img src="/images/office-cleaning_thumb-1200x627.jpg" style="width: 100%; height: auto; " height="500" width="1000">
        </div>
    </section>
    </div>
    <main>
      <section>
        <div class="testimonial">
          <div class="containerr">
           <div class="testimonial__inner">
             <div class="testimonial-slider">
               <div class="testimonial-slide">
                 <div class="testimonial_box">
                   <div class="testimonial_box-inner">
                     <div class="testimonial_box-top">
                       <div class="testimonial_box-icon">
                         <i class="fas fa-quote-right"></i>
                       </div>
                       <div class="testimonial_box-text">
                         <p>We booked the rug cleaning twice. The price is cheap and the cleaners were hard working and thorough.</p>
                       </div>
                       <div class="testimonial_box-img">
                        <img src="/images/customers/IMG_2355.JPG"alt="profile">
                      </div>
                      <div class="testimonial_box-name">
                        <h4>A. Onuoha</h4>
                     </div>
                     <div class="testimonial_box-job">
                       <p>CUSTOMER</p>
                     </div>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="testimonial-slide">
                <div class="testimonial_box">
                  <div class="testimonial_box-inner">
                    <div class="testimonial_box-top">
                      <div class="testimonial_box-icon">
                        <i class="fas fa-quote-right"></i>
                      </div>
                      <div class="testimonial_box-text">
                        <p>The booking is a breeze and House Cleaning are always flexible when it comes to setting the schedule.</p>
                      </div>
                      <div class="testimonial_box-img">
                       <img src="/images/customers/male13a.jpeg" alt="profile">
                     </div>
                     <div class="testimonial_box-name">
                       <h4>S. Coker</h4>
                    </div>
                    <div class="testimonial_box-job">
                      <p>CUSTOMER</p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-slide">
                <div class="testimonial_box">
                  <div class="testimonial_box-inner">
                    <div class="testimonial_box-top">
                      <div class="testimonial_box-icon">
                        <i class="fas fa-quote-right"></i>
                      </div>
                      <div class="testimonial_box-text">
                        <p>Excellent service! The upholstery was left spotless! I am definitely going to book for the sofa cleaning again.</p>
                      </div>
                      <div class="testimonial_box-img">
                       <img src="/images/customers/female11a.jpeg" alt="profile">
                     </div>
                     <div class="testimonial_box-name">
                       <h4>N. Steph</h4>
                    </div>
                    <div class="testimonial_box-job">
                      <p>CUSTOMER</p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-slide">
                <div class="testimonial_box">
                  <div class="testimonial_box-inner">
                    <div class="testimonial_box-top">
                      <div class="testimonial_box-icon">
                        <i class="fas fa-quote-right"></i>
                      </div>
                      <div class="testimonial_box-text">
                        <p>Cheap price and everything was very easy to arrange. Nick did a very good job cleaning mattresses. Thank you</p>
                      </div>
                      <div class="testimonial_box-img">
                       <img src="/images/customers/male5c.jpeg" alt="profile">
                     </div>
                     <div class="testimonial_box-name">
                       <h4>U. Calvin</h4>
                    </div>
                    <div class="testimonial_box-job">
                      <p>CUSTOMER</p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
             </div>
           </div>
          </div>
        </div>
      </section>
    </main>

<%- include('../includes/foot.ejs') %>