<%- include('../includes/head.ejs') %>

    <div id="maintop" class="account-cover">
    <div class="account containerr">
        <div class="account-info">
            <div class="first">
              <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_hzgq1iov.json"  background="transparent"  speed="1"  style="width: 100%; height: 400px;"  loop autoplay></lottie-player>
            </div>
            <div class="second">
                <div class="signin">
                    <div class="logo">
                        <div class="second-logo">
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_hzgq1iov.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
                        </div>
                        <p class="reset-header">Enter your email to receive a reset link</p>
                        <div class="signin-form">
                            <input type="email" name="email" class="border" placeholder="Email" required>
                            <button type="button" onclick="resetPass(this); this.disabled=true;">
                                <span class="btn-spin spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="btn-text">Send reset link</span>
                            </button>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </div>
                    </div>
                    <div class="foot border align-items-center">
                        <p>Create new account? <a href="/signup">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<%- include('../includes/foot.ejs') %>