<%- include('../includes/head.ejs') %>

        <div id="maintop" class="services">
            <main class="containerr">
                <div class="row">
                    <div class="col">
                        <div style="text-align: center;"><img src="/images/calendar.png" alt="book-image" height="40"></div>
                    </div>
                    <div class="col">
                        <div style="text-align: center;"><img src="/images/broom.png" alt="clean-image" height="40"></div>
                    </div>
                    <div class="col">
                        <div style="text-align: center;"><img src="/images/relax.png" alt="relax-image" height="40"></div>
                    </div>
                </div>
                <div class="container__filler">
                  <div class="filler--item">
                    <div class="row">
                        <div class="col-12 col-md-6 service-image">
                            <img
                            src="/images/living-room-ideas-carice-van-houten-living-room-nd2105-nd-atelier-carice-van-houten-050-screen-1600px-copy-1649878018.jpg"
                            title="LIVING ROOM"
                            width="100%"
                            height="auto"
                            />
                        </div>
                        <div class="col-12 col-md-6 service-info second">
                            <div>
                                <h1>LIVING ROOM</h1>
                                <p> 
                                    Complete cleaning of living/sitting room.
                                    Keeping your living space clean and organised ensures it is safe and non-hazardous. 
                                    Preventing dust and other allergens in your home.
                                </p>
                                <p class="includes">Our services includes:</p>
                                <ul>
                                    <li>i. Dusting and wiping of electronics, pictures frames etc.</li>
                                    <li>ii. Mopping of floors.</li>
                                    <li>iii. Dusting of furniture and surfaces.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
              
                  <div class="filler--item">
                    <div class="row">
                        <div class="col-12 col-md-6 service-info first">
                            <div>
                                <h1>BEDROOM</h1>
                                <p> 
                                    Ensures the air is clear of allergens and dust particles. 
                                    What's more, it also prevents bacteria and viruses from harboring in your home. 
                                    With clear and fresh air, your sleep will be better and healthier.
                                </p>
                                <p class="includes">Our services includes:</p>
                                <ul>
                                    <li>i. Dusting and wiping of skirtings.</li>
                                    <li>ii. Folding or hanging of clothes in bedroom.</li>
                                    <li>iii. Dusting of furniture and surfaces.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 service-image">
                            <img
                            src="/images/1dffdf_3395c0921fd045d09edfa3292f58eb04_mv2.jpg"
                            title="BEDROOM"
                            width="100%"
                            height="auto"
                            />
                        </div>
                    </div>
                  </div>
              
                  <div class="filler--item">
                    <div class="row">
                        <div class="col-12 col-md-6 second service-image">
                            <img
                            src="/images/naked.kitchens-7f587bdef5e4431e9694e02d87089f27.png"
                            title="KITCHEN"
                            width="100%"
                            height="auto"
                            />
                        </div>
                        <div class="col-12 col-md-6 service-info second">
                            <div>
                                <h1>KITCHEN</h1>
                                <p> 
                                    Making sure your kitchen's properly maintained is as much a matter of hygiene as it is of ensuring that things work properly, 
                                    and of keeping your kitchen looking great.
                                </p>
                                <p class="includes">Our services includes:</p>
                                <ul>
                                    <li>i. Wiping outside of cupboards and fridge.</li>
                                    <li>ii. Wiping of surfaces, sinks and appliances.</li>
                                    <li>iii. Washing of dishes.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
              
                  <div class="filler--item">
                    <div class="row">
                        <div class="col-12 col-md-6 service-info first">
                            <div>
                                <h1>BATHROOM & RESTROOM</h1>
                                <p> 
                                    General cleaning and wiping down of your bathroom will help decrease surface bacteria/viruses/pathogens greatly.
                                </p>
                                <p class="includes">Our services includes:</p>
                                <ul>
                                    <li>i. Cleaning of shower, bath and sinks.</li>
                                    <li>ii. Wiping of walls and mirrors.</li>
                                    <li>iii. Wiping outside of cupboards and cabinets.<li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 service-image">
                            <img
                            src="/images/photo-1584622650111-993a426fbf0a.jpg"
                            title="BATHROOM & RESTROOM"
                            width="100%"
                            height="auto"
                            />
                        </div>
                    </div>
                  </div>
              
                  <div class="filler--item filler--item-last">
                    <div class="row">
                        <div class="col-12 col-md-6 service-image">
                            <img
                            src="/images/Post-Construction-Cleaning-scaled-e1646963347656.jpeg"
                            title="POST-CONSTRUCTION"
                            width="100%"
                            height="auto"
                            />
                        </div>
                        <div class="col-12 col-md-6 service-info second">
                            <div>
                                <h1>POST-CONSTRUCTION</h1>
                                <p> 
                                    General cleaning and wiping down of debris or particles after a construction work.
                                </p>
                                <p class="includes">Our services includes:</p>
                                <ul>
                                    <li>i. Power washing and cleaning of windows and frames.</li>
                                    <li>ii. Dusting, wet and dry, of ceilings, lights, fans, heaters.</li>
                                    <li>iii. Vacuum cleaning.<li>
                                    <li>iv. Proper disposal of trash and debris.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </main>
        </div>

<%- include('../includes/foot.ejs') %>